<div class="mainDiv">
  <div class="headerDiv">
    <div>TestCoRe</div>
    A Test-Driven Development Training Tool
  <div id="loginDiv">
    <input class="login" type="text" placeholder="Enter Username"><br>
    <input class="login" type="password" placeholder="Enter Password"><br>
    <input class="login" type="text" placeholder="Session Code">
  <div>
    <button type="button" class="login-button" id="login-button" (click)="login('join')">Join Session</button>
    <button type="button" class="login-button" id="load-button" (click)="login('load')">Load Session</button>
  </div>
  </div>
</div>